@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities, (
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "flex": map-merge(
      map-get($utilities, "flex"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "position": map-merge(
      map-get($utilities, "position"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "translate-middle": map-merge(
      map-get($utilities, "translate-middle"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "start": map-merge(
      map-get($utilities, "start"),
      ( 
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "start"), "values"),
          (
            10: 10%,
            25: 25%,
            75: 75%
            ),
        )
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "end": map-merge(
      map-get($utilities, "end"),
      ( 
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "end"), "values"),
          (25: 25%,
          75: 75%),
        )
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "top": map-merge(
      map-get($utilities, "top"),
      ( 
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "top"), "values"),
          (25: 25%,
          75: 75%),
        )
     ),
    ),
  )
);




@import "bootstrap/scss/utilities/api";